<h1 class="cd-text cd-title">buttons</h1>
<p class="cd-text">Buttons are constructed by applying one or more modifying classes to the standard button and will work on standard links as well as button elements.</p>

<ul class="cd-text">
    <li>Buttons should not be used within a paragraph, use standard links instead</li>
    <li>Buttons should always be used to submit a form</li>
    <li>Primary buttons should only be used sparingly to highlight the most favoured actions on a page</li>
</ul>

<h2 class="cd-text cd-title">types</h2>

<h3 class="cd-text cd-title">default</h3>

{{{ getFile 'site/docs/views/examples/buttons/button.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/buttons/button.html' }}}
{{/codeBlock}}

<h3 class="cd-text cd-title">primary</h3>
<p class="cd-text">A primary button should be used to highlight the primary or most favoured action on a page. If there is only one main call to action on a page, it should be a primary button.</p>

{{{ getFile 'site/docs/views/examples/buttons/button--primary.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/buttons/button--primary.html' }}}
{{/codeBlock}}

<h3 class="cd-text cd-title">continue</h3>
<p class="cd-text">The continue button should be used as part of a user journey to move to the next stage and should always be primary.</p>

{{{ getFile 'site/docs/views/examples/buttons/button--continue.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/buttons/button--continue.html' }}}
{{/codeBlock}}

<h3 class="cd-text cd-title">back</h3>
<p class="cd-text">The back button should be used as part of a user journey to move back to the previous stage.</p>

{{{ getFile 'site/docs/views/examples/buttons/button--back.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/buttons/button--back.html' }}}
{{/codeBlock}}

<h2 class="cd-text cd-title">states</h2>

<h3 class="cd-text cd-title">active</h3>
<p class="cd-text">Makes the button appear active.</p>

{{{ getFile 'site/docs/views/examples/buttons/button--active.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/buttons/button--active.html' }}}
{{/codeBlock}}

<h2 class="cd-text cd-title">sizes</h2>

<h3 class="cd-text cd-title">small</h3>
<p class="cd-text">Small buttons should be used sparingly to minimise their visual impact on a content heavy page, or as a way to reduce the importance of an action.</p>

{{{ getFile 'site/docs/views/examples/buttons/button--sm.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/buttons/button--sm.html' }}}
{{/codeBlock}}

<h3 class="cd-text cd-title">default</h3>
<p class="cd-text">The default button size should generally be used everywhere.</p>

{{{ getFile 'site/docs/views/examples/buttons/button.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/buttons/button.html' }}}
{{/codeBlock}}

<h3 class="cd-text cd-title">large</h3>
<p class="cd-text">Large buttons should be used sparingly to draw attention to a certain action and should generally only be applied to primary buttons</p>

{{{ getFile 'site/docs/views/examples/buttons/button--lg.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/buttons/button--lg.html' }}}
{{/codeBlock}}

<h2 class="cd-text cd-title">button icons</h2>
<p class="cd-text">Icons can be added to buttons to give context.</p>

<ul class="cd-text">
    <li>Icons in buttons should always be on the left</li>
    <li>Never use an icon on it's own in a button and always provide a text description.
    <li>Be sure to use icons consistently by referencing the <a href="icons">icons list</a></li>
</ul>

{{{ getFile 'site/docs/views/examples/buttons/button-icons.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/buttons/button-icons.html' }}}
{{/codeBlock}}

<h2 class="cd-text cd-title">button groups</h2>
<p class="cd-text">Button groups are intended for use as a visual way of grouping lots of related actions.</p>
<p class="cd-text">A button group should not be used for presenting a collection of links to other pages and you should instead use an unordered list or have your links formatted inside a paragraph of text.</p>
<p class="cd-text">A button group should not be used for pagination in place of the pagination module.</p>

{{{ getFile 'site/docs/views/examples/buttons/button-group.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/buttons/button-group.html' }}}
{{/codeBlock}}
