<h1 class="cd-text cd-title">panels</h1>
<p class="cd-text">Panels are used to define distinct areas of the page. Useful for displaying contextual information in a way that separates it from the rest of the page. Also intended for use in lists of products to visually separate each product. Unless a full width panel is intended, panels should be contained within a <a href="grid-system">grid</a></p>

<div class="row">
    <div class="col-xs-12">
        <h2 class="cd-text cd-title">basic panels</h2>
        <p class="cd-text">Intended for the presentation of ancillary information or functionality, panels are distinct from <a href="alerts">alerts</a> in that alerts are used for feedback for an action that a user has performed whereas panels are permanent features.

        <div class="row">
            <div class="col-xs-4">
                {{{ getFile 'site/docs/views/examples/panels/panel-basic.html' }}}
            </div>

            <div class="col-xs-8">
                {{#codeBlock}}
                    {{{ getFile 'site/docs/views/examples/panels/panel-basic.html' }}}
                {{/codeBlock}}
            </div>
        </div>

        <h4 class="cd-text cd-title">with header and footer</h4>
        <div class="row">
            <div class="col-xs-4">
                {{{ getFile 'site/docs/views/examples/panels/panel-header.html' }}}
            </div>

            <div class="col-xs-8">
                {{#codeBlock}}
                    {{{ getFile 'site/docs/views/examples/panels/panel-header.html' }}}
                {{/codeBlock}}
            </div>
        </div>

        <h2 class="cd-text cd-title">clickable panels</h2>
        <p class="cd-text">Clickable panels are used to showcase content or individual products. The whole panel is a link.</p>

        <div class="row">
            <div class="col-xs-4">
                {{{ getFile 'site/docs/views/examples/panels/panel-link.html' }}}
            </div>

            <div class="col-xs-8">
                {{#codeBlock}}
                    {{{ getFile 'site/docs/views/examples/panels/panel-link.html' }}}
                {{/codeBlock}}
            </div>
        </div>

        <h4 class="cd-text cd-title">with full width image</h4>

        <div class="row">
            <div class="col-xs-4">
                {{{ getFile 'site/docs/views/examples/panels/panel-full-img.html' }}}
            </div>

            <div class="col-xs-8">
                {{#codeBlock}}
                    {{{ getFile 'site/docs/views/examples/panels/panel-full-img.html' }}}
                {{/codeBlock}}
            </div>
        </div>

        <h4 class="cd-text cd-title">with footer</h4>

        <div class="row">
            <div class="col-xs-4">
                {{{ getFile 'site/docs/views/examples/panels/panel-link-footer.html' }}}
            </div>

            <div class="col-xs-8">
                {{#codeBlock}}
                    {{{ getFile 'site/docs/views/examples/panels/panel-link-footer.html' }}}
                {{/codeBlock}}
            </div>
        </div>

        <h2 class="cd-text cd-title">panel grid</h2>
        <p class="cd-text">A panel grid with same height panels and other flexbox properties via the <a href="grid-system#flexbox-grid">flexbox grid</a>.</p>
        <p class="cd-text">Panel grids are appropriate for lists of products or other content, especially those with dynamic content as flexbox allows the grid to remain intact and aligned vertically regardless of how much content is present.</p>
        <p class="cd-text">For pages without a side nav, please refer to the <a href="/layouts/full-width-panel-grid">recommended full width panel grid structure</a>.</p>

        <h4 class="cd-text cd-title">panel grid</h4>
        <p class="cd-text">Some examples of the various layout options within the grid including with optional header section and full bleed image.</p>

        {{{ getFile 'site/docs/views/examples/panels/panel-grid.html' }}}

        {{#codeBlock}}
            {{{ getFile 'site/docs/views/examples/panels/panel-grid.html' }}}
        {{/codeBlock}}

        <h4 class="cd-text cd-title">panel grid with clickable panels</h4>
        <p class="cd-text">Suitable for a panel grid where each panel only has one possible action. Use a link for your panels and the whole panel becomes clickable.</p>

        {{{ getFile 'site/docs/views/examples/panels/panel-click-grid.html' }}}

        {{#codeBlock}}
            {{{ getFile 'site/docs/views/examples/panels/panel-click-grid.html' }}}
        {{/codeBlock}}

    </div>
</div>
