<h1 class="cd-text cd-title">tables</h1>
<p class="cd-text">Tables should be used for tabular content such as lists of ingredients.</p>
<p class="cd-text">You can use the <a href="grid-system">bootstrap column classes</a> such as <code>col-xxs-4</code> to define percentage sizes for your table columns although these will not collapse at lower breakpoints like the grid usually does.</p>

<div class="panel">
    <div class="panel__body">
        <h4 class="cd-text cd-title">notes</h4>
        <p class="cd-text">The below example uses the <code>.horizontal-overflow</code> div to contain the table with a <code>.horizontal-overflow__table</code> class applied to the table.  This ensures that overflowing tables are scrollable and not distorted for users with smaller screens. When applicable, always use this container to ensure optimal display of tables.</p>
    </div>
</div>

<h2 class="cd-text cd-title">basic table</h2>
<p class="cd-text">A basic, minimal, table.</p>

{{{ getFile 'site/docs/views/examples/tables/table.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/tables/table.html' }}}
{{/codeBlock}}

<h2 class="cd-text cd-title">centered table</h2>
<p class="cd-text">For cells that are vertically centered.</p>

{{{ getFile 'site/docs/views/examples/tables/table-center.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/tables/table-center.html' }}}
{{/codeBlock}}

<h2 class="cd-text cd-title">striped table</h2>
<p class="cd-text">For added clarity.</p>

{{{ getFile 'site/docs/views/examples/tables/table-striped.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/tables/table-striped.html' }}}
{{/codeBlock}}

<h2 class="cd-text cd-title">hover table</h2>
<p class="cd-text">For interaction.</p>

{{{ getFile 'site/docs/views/examples/tables/table-hover.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/tables/table-hover.html' }}}
{{/codeBlock}}
