<h1 class="cd-text cd-title">alerts</h1>
<p class="cd-text">Alerts are used to display important information or direct feedback for an action that a user has just performed. Examples of this include ordering a box, making changes to an order or updating their account.</p>
<p class="cd-text">They should appear at the top of the page, just below the navigation. Messages and links should all be written in sentence case (links will be forced lower case with CSS). 'Undo' links should be displayed if a user changes or deletes something.</p>

<h2 class="cd-text cd-title">success</h2>
<p class="cd-text">The action the user performed has been successful, including deleting something.</p>

{{{ getFile 'site/docs/views/examples/alerts/alert-success.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/alerts/alert-success.html' }}}
{{/codeBlock}}

<h2 class="cd-text cd-title">info</h2>
<p class="cd-text">General important information, not always related to a performed action.</p>

{{{ getFile 'site/docs/views/examples/alerts/alert-info.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/alerts/alert-info.html' }}}
{{/codeBlock}}

<h2 class="cd-text cd-title">warning</h2>
<p class="cd-text">Information that flags a potential problem, not always related to a performed action.</p>

{{{ getFile 'site/docs/views/examples/alerts/alert-warning.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/alerts/alert-warning.html' }}}
{{/codeBlock}}

<h2 class="cd-text cd-title">danger</h2>
<p class="cd-text">The action the user performed has failed or there is a serious problem with their account.</p>

{{{ getFile 'site/docs/views/examples/alerts/alert-danger.html' }}}

{{#codeBlock}}
{{{ getFile 'site/docs/views/examples/alerts/alert-danger.html' }}}
{{/codeBlock}}
