<h1 class="cd-text cd-title">navigation</h1>
<p class="cd-text">Below are our core navigation components that should be use to direct a user around a website or collection of subpages.</p>

<h2 class="cd-text cd-title">sub navigation</h2>
<p class="cd-text">Our sub navigation is a horizontal nav with minimal styling.</p>

<h3 class="cd-text cd-title">example</h3>
{{{ getFile 'site/docs/views/examples/sub-nav.html' }}}

<h3 class="cd-text cd-title">code</h3>
{{#codeBlock}}
    {{{ getFile 'site/docs/views/examples/sub-nav.html' }}}
{{/codeBlock}}

<h2 class="cd-text cd-title">variations</h2>

<h3 class="cd-text cd-title">with heading</h3>
{{{ getFile 'site/docs/views/examples/sub-nav-heading.html' }}}
<p class="cd-text">Use the <code>.nav__heading</code> child element to align a non-navigational element with the rest of the <code>.nav__item</code>s.</p>

<h3 class="cd-text cd-title">dark backgrounds</h3>
<div class="page-section page-section--brand">
    <div class="container">
        {{{ getFile 'site/docs/views/examples/sub-nav-inverse.html' }}}
    </div>
</div>

<p class="cd-text">Use the <code>.nav--inverse</code> modifier to generate a sub nav that works on dark backgrounds.</p>

<h2 class="cd-text cd-title">side navigation</h2>
<p class="cd-text">Our side navigation is a varation of the sub nav where <code>.nav__item</code>s are aligned vertically using the <code>.nav--vertical</code> modifier.</p>

<h3 class="cd-text cd-title">example</h3>
{{{ getFile 'site/docs/views/examples/side-nav.html' }}}

<h3 class="cd-text cd-title">code</h3>
{{#codeBlock}}
    {{{ getFile 'site/docs/views/examples/side-nav.html' }}}
{{/codeBlock}}
