<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>CSS Stats</h1>

            <p class="lead">Below is an analysis of the compilable LESS files in their minified CSS form</p>

            <div class="row">
            {{#each stats}}
                <div class="col-sm-6">
                    <h2>{{ name }}</h2>

                    <div class="horizontal-overflow">
                        <table class="table horizontal-overflow__table">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Last Analysed:</b>
                                    </td>
                                    <td>
                                        {{ date }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Size:</b>
                                    </td>
                                    <td>
                                        {{ size }} kb
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Size (Gzipped):</b>
                                    </td>
                                    <td>
                                        {{ sizeGzip }} kb
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Rules:</b>
                                    </td>
                                    <td>
                                        {{ rules }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Selectors:</b>
                                    </td>
                                    <td>
                                        {{ selectors }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>
    </div>
</div>
