<!DOCTYPE html>
<html>
<head>
    <title>Pistachio.</title>
    <link rel="stylesheet" type="text/css" href="/css/pistachio.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <nav>
                    <h4><a href="/">__pistachio</a></h4>

                    <ul>
                    {{#each pages}}
                        <li>
                        {{#if current}}
                            <a href="/{{ name }}" style="color: white; background: #80A000">{{ name }}</a>
                        {{else}}
                            <a href="/{{ name }}">{{ name }}</a>
                        {{/if}}
                        </li>
                    {{/each}}
                    </ul>
                </nav>
            </div>
            <div class="col-sm-10" style="border-left: solid gainsboro 1px">
                {{{ body }}}
            </div>
        </div>
    </div>
</body>
</html>
