<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pistachio.</title>
    <link rel="stylesheet" type="text/css" href="/css/pistachio.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <nav>
                    <h2><a href="/">pistachio</a></h2>

                    <ul>
                    {{#each pages}}
                        <li>
                        {{#if current}}
                            <a href="/{{ name }}" class="active">{{ name }}</a>
                        {{else}}
                            <a href="/{{ name }}">{{ name }}</a>
                        {{/if}}
                        </li>
                    {{/each}}
                    </ul>
                </nav>
            </div>
            <div class="col-sm-10">
                {{{ body }}}
            </div>
        </div>
    </div>
</body>
</html>
