<!DOCTYPE html>
<html lang="en" class="experience-core">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pistachio | {{ title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/pistachio.css">

    {{!-- Cutting the mustard --}}
    <script type="text/javascript">
    {{{ getFile '/js/cuts-the-mustard.js' }}}
    </script>
</head>
<body>

<header class="page-section page-section--sm page-section--brand">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 page-section__content">
                <p class="lead">Pistachio | <small class="voice">sweet as a nut...</small></p>
            </div>
        </div>
    </div>
</header>
<nav class="page-section page-section--xs page-section--alternate">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 page-section__content">
                <ul class="nav">
                {{#each pages}}
                    {{#if current}}
                        <li>
                            <a class="nav__item nav__item--active" tabindex="-1" href="/{{ path }}">{{ name }}</a>
                        </li>
                    {{else}}
                        <li>
                            <a class="nav__item" href="/{{ path }}">{{ name }}</a>
                        </li>
                    {{/if}}
                {{/each}}
                </ul>
            </div>
        </div>
    </div>
</nav>

<section class="page-section page-section--xs">
    {{{ body }}}
</section>
</body>
</html>
