<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pistachio.</title>
    <link rel="stylesheet" type="text/css" href="/css/pistachio.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <nav>
                    <ul class="list-unstyled list-inline">
                    {{#each pages}}
                        <li>
                        {{#if current}}
                            <a href="/{{ name }}" class="active">{{ name }}</a>
                        {{else}}
                            <a href="/{{ name }}">{{ name }}</a>
                        {{/if}}
                        </li>
                    {{/each}}
                    </ul>
                    <hr>
                </nav>
            </div>
        </div>
    </div>

    {{{ body }}}

    <footer class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 page-section__content">
                    <hr>
                    <p>&copy; Pistachio</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
