<!DOCTYPE html>
<html lang="en" class="experience-core">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pistachio | {{ title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/pistachio.css">

    {{!-- Syntax highlighter --}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/github-gist.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <style type="text/css">
    /* Highlighter changes */
    .hljs {
        font-size: 14px;
        background: #f7f7f7;
    }
    </style>

    {{!-- Cutting the mustard --}}
    <script type="text/javascript">
    {{{ getFile '/js/cuts-the-mustard.js' }}}
    </script>
</head>
<body>

<header class="page-section page-section--sm page-section--brand">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 page-section__content">
                <p class="lead">Pistachio | <small class="voice">sweet as a nut...</small></p>
            </div>
        </div>
    </div>
</header>
<nav class="page-section page-section--xs page-section--alternate">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 page-section__content">
                <ul class="list-inline">
                {{#each pages}}
                    <li>
                    {{#if current}}
                        <a href="/{{ path }}" class="active">{{ name }}</a>
                    {{else}}
                        <a href="/{{ path }}">{{ name }}</a>
                    {{/if}}
                    </li>
                {{/each}}
                </ul>
            </div>
        </div>
    </div>
</nav>

<section class="page-section page-section--xs">
    {{{ body }}}
</section>
</body>
</html>
